body {
    font-family: Lato;
}

.first-section-container {
    width: 100%;
    display: flex;
    background-color: #E554731A;
    justify-content: space-between;
    padding: 30px 30px 0px 150px;
    /* trbl */
    align-items: center;


}

.greet {
    margin: 40px 40px 0px 40px;

}

.greet-content {
    color: #272727;
    font-size: 62px;
    font-weight: bolder;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-right: 70px;
}

.greet-para {
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 55px;



}

.greet-btn {
    border-radius: 8px;
    background: #E55473;
    border: 0;
    color: white;
    font-size: 12px;
    font-weight: 700;
    padding: 17px 30px;
}

.img {
    padding: 5px 100px;
}

.first-img {
    width: 500px;
    margin: 40px 40px 0px 40px;


}

/* section-2 */
.part-2-container {
    border-top: 50px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: space-between;
    padding: 60px 90px 0px 180px;
    /* trbl */
    align-items: center;
}

.pt-2 {
    /* margin: 40px 40px 0px 40px; */
    text-align: center;
    margin-right: 100px;
}

.pt-2-content {
    color: #272727;
    /* padding: 20px 30px 0px 10px; */
    font-size: 26px;
    font-style: normal;
    font-weight: 800;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-right: 70px;
}

/* line-height: normal;} */
.df {
    color: #E55473;
}

.pt-2-para {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* margin:0px; */
    padding: 20px 60px 0px 70px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 70px;
}

.second-img {
    width: 290px;
    height: 280px;
    padding: 20px 120px 0 20px;
}

.pt-2-btn {
    border-radius: 8px;
    background: #E55473;
    color: white;
    font-size: 12px;
    font-weight: 700;
    padding: 17px 24px;
    border: none;

}

.service-container {
    display: inline-flex;
    margin: 40px 70px;
    padding: 10px 90px;
}

.last-head {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
}

.last-para {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;

}

.img-1 {
    border-radius: 10px;
    padding: 5px;
    width: 236px;
}

.box {

    background-image: url("../image/Rectangle\ 9.png");
    border-radius: 10px;
    
    height: 200px;
    padding: 80px;
    background-size: auto;
    background-position-x: center;
    background-repeat: no-repeat;
    margin: 80px 95px;
    
}

.input {
    display: inline-flex;
  
}

.inp {
    padding: 17px 250px;
    border-radius: 10px;
    margin-left:100px;
    
}

.btn-3 {

    border-radius: 8px;
    background: #E55473;
    color: white;
    font-size: 12px;
    font-weight: 700;
    padding: 17px 34px;
    margin-left:15px;
    border: none;

}