
.first-section-container {
    font-family: Lato;
    display: flex;
    background-color: #E554731A;
    justify-content: space-between;
    padding: 30px 30px 0px 150px;
    align-items: center;
  

}

.greet-content {
    color: #272727;
    font-size: 62px;
    font-weight: bolder;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-right: 70px;
}

.greet-para {
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-weight: 400;  
    margin-top: 5px;
    margin-bottom: 15px; 
   


}

.greet-btn {
    border-radius: 8px;
    background: #E55473;
    border: 0;
    color: white;
    font-size: 12px;
    font-weight: 700;
    padding: 17px 30px;
}
.img{
    padding:5px 25px;
}

.first-img {
    width: 500px;
    margin:40px 40px 0px 40px;


}